// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

// Improve subscript & superscript display
sub, sup { display: inline; font-size: 0.75em; vertical-align: baseline; position: relative; }
sub { bottom: -.4em; }
sup { top: -.5em; }

